@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway|Open+Sans|Satisfy&display=swap');

* {
  box-sizing: border-box;
  font-family: fantasy;
  
}


html {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    
font-family: 'Times New Roman', Times, serif;
font-size: 16px;

}

body {
  
 max-width: 1000px;
  color: #232323;
  margin: 0 auto;
  /* background-color: */
  font-family: Arial, Helvetica, sans-serif;
 
  
}

header {
    font-size: 2rem;
    background-color: yellow;
    position: fixed;
    left: 0;
    right: 0;
    padding: 8px 25px;
    box-shadow: 0 2px 4px -2px blue;
    overflow: auto;

  }

  main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    font-family: 'Times New Roman', Times, serif
  }

  header::after {
    display: block;
    clear: both;
    content: '';
  }

.name{
    float: left;
    box-sizing: border-box;
    
    padding: 4px;
   
}

.links{
    float: right;
}

.links a {
    text-decoration: none;
    color: inherit;
    margin-left: .25em;
  }
  
  .links a:first-of-type {
    margin-left: 0;
  }
  
  .links a.active {
    font-weight: bold;
  }

 

header, footer {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: yellow;
  font-family:fantasy ;
}

.game-links {

  display: flex;
  justify-content: space-between ;

  
  

  font-family: fantasy;
  background-color: yellow;
  border-radius: 4vmin;
  font-size: 2rem;
  text-align: center;
  padding: 1vmin;
  text-decoration: none;


}

